snippet cl
	console.log(${1:var});

snippet dc
	<div className="${1:var}">$2</div>

snippet d
	<div>$0</div>

snippet fc
	const ${TM_FILENAME_BASE} = () => {
		$0
	}

	export default ${TM_FILENAME_BASE};

snippet f
	const ${1:var} = () => {
		$0
	}
